<div id="<%= dom_id task %>" class="border rounded p-5 my-5">
  <div class="row">
    <div class="col-4">
      <strong class="text-muted">
        Description
      </strong>
      <p>
        <%= task.description %>
      </p>
    </div>

    <div class="col-4">
      <strong class="text-muted">
        Completed
      </strong>
      <p>
        <%= task.completed %>
      </p>
    </div>

    <div class="col-4">
      <strong class="text-muted">
        Project
      </strong>
      <p>
        <%= task.project_id %>
      </p>
    </div>
  </div>
</div>
