<h1 class="text-center">
  Editing task
</h1>

<%= render "form", task: @task %>

<br>

<div class="button-group">
  <%= link_to "Show this task", @task, class: 'btn btn-sm btn-outline-primary' %>
  <%= link_to "Back to tasks", tasks_path, class: 'btn btn-sm btn-outline-secondary' %>
</div>
