<div id="<%= dom_id project %>" class="border p-5 my-5">
  <div class="row">
    <div class="col-3">
      <strong class="text-muted">
        Name
      </strong>
      <p>
        <%= project.name %>
      </p>
    </div>

    <div class="col-9">
      <strong class="text-muted">
        Description
      </strong>
      <p>
        <%= project.description %>
      </p>
    </div>
  </div>
</div>
