<div id="<%= dom_id project %>" class="border p-5 my-5 bg-light">
  <h4 class="text-center">
    Project
  </h4>
  <div class="row">
    <div class="col-3">
      <strong class="text-muted">
        Name
      </strong>
      <p>
        <%= project.name %>
      </p>
    </div>

    <div class="col-9">
      <strong class="text-muted">
        Description
      </strong>
      <p>
        <%= project.description %>
      </p>
    </div>
  </div>

  <h4 class="mt-5 text-center">
    Project Tasks
  </h4>

  <% project.tasks.each do |task| %>
    <%= render partial: 'tasks/project_task', locals: { task: task } %>
  <% end %>
</div>
