<div class='nested-fields border rounded p-5 my-5'>
  <%= f.input :description %>
  <%= f.input :completed, as: :boolean %>

  <%= link_to_remove_association "Remove task", f, { class: "btn btn-sm btn-outline-danger mt-3" } %>
</div>
