<p style="color: green">
  <%= notice %>
</p>

<h1 class="text-center">
  Projects
</h1>

<% @projects.each do |project| %>
  <div class="card shadow p-5 my-5">  
    <%= render project %>
    <p><%= link_to "Show this project", project, class: 'btn btn-sm btn-outline-primary' %></p>
  </div>
<% end %>

<%= link_to "New project", new_project_path, class: 'btn btn-sm btn-outline-primary' %>
